.header{
    background-color: bg-color(orange);
    height: 70px;
    display: flex;
    align-items: center;
    padding: 0 20px;

    &__logo{
        margin-right: 80px;
        font-weight: 700;
        font-size: rem(28px);
        font-family: 'Constantia', sans-serif;
        color: text-color(light);
        user-select: none;
        text-transform: uppercase;
    }

    &__nav{

        &-list{
            display: flex;
        }

        &-item{
            margin-right: 35px;

            &:last-child{
                margin-right: 0;
            }
        }

        &-link{
            font-size: rem(12px);
            color: text-color(light);
            text-transform: uppercase;
        }
    }

    &__search{
        position: relative;
        margin-left: auto;

        &-lbl{
            position: absolute;
            left: 15px;
            top: 8px;
            @include size(15px);
            fill: bg-color(white);

            svg{
                @include size(15px);
            }
        }

        &-field{
            @include size(270px, 30px);
            border-radius: 15px;
            border: 1px solid bg-color(white);
            padding: 0 15px 0 40px;
            background-color: transparent;
            color: text-color(light);
            outline: none;
            font-size: rem(12px);

            &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                color: text-color(light);
            }

            &::-moz-placeholder { /* Firefox 19+ */
                color: text-color(light);
            }

            &:-ms-input-placeholder { /* IE 10+ */
                color: text-color(light);
            }

            &:-moz-placeholder { /* Firefox 18- */
                color: text-color(light);
            }
        }
    }

    &__btns{
        display: flex;
        margin-left: 50px;
    }

    &__btn{
        @include aligment();
        background-color: bg-color(blue);
        height: 30px;
        border-radius: 15px;
        padding: 0 15px;
        font-size: rem(12px);
        color: text-color(light);
        text-transform: uppercase;
        margin-right: 25px;

        &:last-child{
            margin-right: 0;
        }
    }
}