@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=cyrillic-ext');
@import './variables.scss';

ul, ol{
    padding: 0;
    margin: 0;
}

.list{
    list-style-type: none;
}

.link{
    text-decoration: none;
}

.content{
    flex-grow: 1;
}

html, body{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    font-family: $baseff;
    font-size: $basefz;
    font-weight: 400;
    color: text-color(text);
    min-width: 1500px;

    & * {
        flex-shrink: 0;
        box-sizing: border-box;
    }
}

.fade-enter-active, .fade-leave-active {
    animation-duration: 250ms;
    animation-fill-mode: both;
    animation-timing-function: ease-out;
    position: absolute;
}

.fade-enter-active{
    animation-name: fadeIn;
}

.fade-leave-active{
    animation-name: fadeOut;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0;
    }
  }