.footer{
    display: flex;
    background-color: bg-color(grey-dark);
    padding: 40px 30px;
    position: relative;
    z-index: 10;

    &__logo{
        margin-right: 80px;
        font-weight: 700;
        font-size: rem(28px);
        font-family: 'Constantia', sans-serif;
        color: text-color(light);
        user-select: none;
        text-transform: uppercase;
    }

    &__nav{
        display: flex;

        &-block{
            min-width: 270px;
            margin-right: 30px;

            &:last-child{
                margin-right: 0;
            }
        }

        &-heading{
            text-transform: uppercase;
            color: text-color(light);
            font-weight: 700;
            font-size: rem(18px);
            margin: 0 0 15px;

            &:after{
                content: '';
                display: flex;
                @include size(100%, 1px);
                margin-top: 5px;
                background-color: bg-color(orange);
            }
        }

        &-list{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        &-item{
            margin-bottom: 15px;
            min-width: 50%;

            &:nth-child(even){
                text-align: right;
            }
        }

        &-link{
            text-transform: uppercase;
            font-size: rem(16px);
            color: text-color(light);
        }
    }
}